<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/orator/chat.html"></iframe>
    </div>

    <div id="welcome">
        <!-- <h1>I'm a bot!</h1> -->

        {{#if bot.botkit_studio_id}}
        Welcome!
        <!-- <p><a href="https://studio.botkit.ai/app/bots/{{bot.botkit_studio_id}}">Access my dashboard</a></p> -->
        {{else}}
        Welcome!
        <!-- <p>
            <a href="https://studio.botkit.ai/">Sign up for Botkit Studio</a>
            to enable my cloud features like collaborative dialog editing, analytics,
            training tools.
        </p> -->
        {{/if}}
        <p><a href="/orator/chat.html">Make me full screen</a></p>
        <!-- <p><a href="orator/embed">Embed me in a web site</a></p>
        <p><a href="https://github.com/howdyai/botkit-starter-web">Documentation</a></p>
        <p><a href="http://botkit.groovehq.com/help_center">Help Center</a></p> -->
    </div>
</div>
<script src="/orator/embed.js"></script>
<script>
  Botkit.boot({});
</script>
